.companies {
    // @include flex;
    // flex-direction: column;
    // text-align: center;
    padding-top: 155px;
    &-text {
        text-align: center;
        &__title {
            @include sectionTitle;
            margin-bottom: 14px;
        }
        &__description {
            color: #4F5665;
            margin-bottom: 122px;
        }
    }
    &-preview {
        @include flex;
        column-gap: 48px;
    }
}