.info {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
    &-container {
        flex-basis: 50%;
            // display: flex;
            // flex-direction: column;
    }
    &-btn {
        @include mainBtn;
        margin-top: 90px;
    }
    &-title {
        font-weight: 700;
        font-size: 50px;
        line-height: 70px;
        color: $mainColor;
    }
    &-text {
        font-size: 22px;
        line-height: 30px;
        color: #4F5665;
    }
    &-img {
        margin-bottom: 180px;
        margin-left: 44px;
    }
}