.footer {
    display: flex;
    justify-content: space-between;
    background-color: #F8F8F8;
    z-index: 0;
    // position: absolute;
    left: 0px;
    right: 0px;
    &-first {
        display: flex;
        flex-direction: column;
        padding-top: 180px;
    }
    &-second {
        display: flex;
        flex-wrap: wrap;
        padding-top: 180px;
    }
    &-logotype {
        display: flex;
    }
    &-name {
        font-size: 22px;
        line-height: 30px;
        color: $mainColor;
        font-family: 'Marko one', sans-serif;
        text-transform: uppercase;
    }
    &-copyright {
        &__description {
            font-size: 18px;
            line-height: 30px;
            color: #BDBDBD;
            margin-bottom: 30px;
        }

        &__social .fab{
            background-color: $mainColor;
            border-radius: 3px;
            color: white;
            font-size: 34px;
            margin-right: 11px;
            cursor: pointer;
            margin-bottom: 30px;
            box-shadow: 0px 13px 18px rgba(17, 19, 35, 0.08);
        }

        &__text {
            color: #AFB5C0;
        }
    }
    &-list {
        margin-right: 118px;
        &__item  {
            margin-bottom: 10px;
            &-first {
                font-weight: 500;
                font-size: 18px;
                color: #0B132A;
                margin-bottom: 20px;
            }
        }

        &__link {
            text-decoration: none;
            color: #4F5665;
        }
    }
}