.modal {
	@include flex;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;

	transition: all 0.5s ease-in-out;
	pointer-events: none;
	&-body {
		@include flex;
		padding: 50px;
		width: 40%;
		background-color: #fff;
		border-radius: 10px;
		// transform: scale(0.1);
		transform: translateY(-1000px);
		transition: all 0.5s ease-in-out;
	}
	&-desc {
		margin-left: 20px;
		&_title {
			@include sectionTitle;
		}
		&_text {
			font-size: 22px;
			line-height: 38px;
		}
	}
}

.modal.active {
	opacity: 1;
	pointer-events: all;
}

.modal.active .modal-body {
	// transform: scale(1);
	transform: translateY(0);
}
