#formCard {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  margin-top: 2em;
}

.formCard__field {
  background: #001417;
  border: 1px solid #02d7f2;
  padding: 16px 0 16px 16px;
  color: #CDCDCD;
}

.formCard__field::placeholder {
  color: #CDCDCD;
}

.formCard__submit {
  background-color: #02d7f2;
  border: 2px solid #001417;
  padding: 1em 0;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-top: 20px;
}