.forms {
  // background-color: #2e2a2a;

  text-align: center;
  &__tab {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 20px;
      background-color: #000;
      left: 50%;
      top: calc((100% - 20px) / 2);
    }

    &--text {
      position: relative;
      font-size: rem(25);
      font-weight: bold;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -0.3em;
        width: 0;
        height: 3px;
        background-color: #000;
        transition: width 0.3s linear;
      }

      &:first-child {
        margin-right: 2em;
      }
    }
  }

  &__wrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    background-color: #2e2a2a;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.5);
    &--signin,
    &--signup {
      transition: transform 0.5s ease-in-out;
      display: flex;
      flex-direction: column;

      row-gap: 16px;
    }
    &--signup {
      transform: translateX(65%);
      background-color: #02d7f2;
      padding: 30px;
      padding-left: 60px;
      padding-right: 60px;
      transition: all 0.5s linear;
      position: relative;

      &::after,
      &::before {
        content: '';
        position: absolute;
        top: 15px;
        left: 12px;
        width: 10px;
        height: 10px;
        border-top: 2px solid black;
        border-right: 2px solid black;
        transform: rotate(-135deg);
        transition: 0.5s;
      }

      &::before {
        opacity: 0;
        left: 32px;
      }

      &:hover {
        transform: translateX(61%);
        cursor: pointer;
      }

      &:hover::before {
        animation: moveArrow 1s infinite linear;
      }

      &-svg {
        position: absolute;
        top: 15px;
        right: 20px;
      }
    }

    &--signin {
      transform: translateX(68%);
    }
    &-title {
      position: absolute;
      top: 20px;
      color: #fff;
      font-weight: 700;
      font-size: 26px;
    }
  }
}

.forms__tab--text.active::after {
  width: 100%;
}

@keyframes moveArrow {
  from {
    opacity: 0;
    left: 32px;
  }
  to {
    left: 14px;
    opacity: 1;
  }
}

.forms__wrapper--signup.active::before {
  animation: none;
}
.forms__wrapper--signup.active::after {
  opacity: 0;
}

.forms__wrapper--signup.active {
  transform: translateX(-27%);
}
