.header {
    padding: 1.5em 0;
    background-color: #2e2a2a;

    &__wrapper  {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__svg-profile {
        color: rgb(245, 110, 0);
        max-width: 40px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        border-radius: 50%;
        &:hover {
            color: #b15000;
        }
    }

    &__button-create,
    &__button-login,
    &__button-signup {
        padding: 0.5em 1em;
        font-size: 1rem;
        font-weight: 600;
        border: none;
        outline: none;
        border-radius: 5px;
        background-color: rgb(245, 110, 0);
        color: black;
        margin-right: 1em;
        &:active {
            color: aquamarine;
        }
    }
}