.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrapper {
    background-color: #fff;
    padding: 1.5em;
    border-radius: 8px;
  }

  &__close {
    cursor: pointer;
  }


  &__forms {
    display: flex;
  }
  
  &__title {
    font-size: 2rem;
    font-weight: 700;
  }
}

.modal.active {
  opacity: 1;
  pointer-events: all;
  z-index: 1;
}
