.root__button {
  // TODO ! fix 2-3 svg size width
  display: inline-block;
  padding-top: 23px;
  padding-bottom: 23px;
  color: #fff;
  position: relative;
  background-color: #010101;
  transition: all 0.5s ease-in-out;
  & path {
    transition: all 0.5s ease-in-out;
  }

  & svg {
    &:first-child {
      position: absolute;
      right: -16px;
      top: 0;
    }
    &:last-child {
      position: absolute;
      left: -16px;
      top: 0;
    }
  }
}

.root__button:hover path {
  fill: #02d7f2;
}

.root__button:focus {
  background: #fd0130;
}

.root__button:disabled {
  background: #cdcdcd;
  color: #888888;
}

.root__button:hover {
  background: #02d7f2;
  color: #010101;
}
