.swiper {
  width: 100%;
  height: calc(100vh - 94px);

  &__slide {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    color: #fff;

    &--title {
      font-size: 50px;
      margin-bottom: 0.5em;
      letter-spacing: 1.2px;
    }
    &--text {
      font-size: 25px;
      max-width: 400px;
      margin-bottom: 1.5em;
    }

    &--link {
      margin-left: 16px;
    }
  }
}

.first {
  background-image: url(../img/slide__1.jpg);
}
.second {
  background-image: url(../img/slide__2.jpg);
}

