.slogan {
	background: url(https://freehtmlthemes.ru/assets/images/articles/css-fon.jpg) no-repeat center /
		cover;
	// background-image: url(https://freehtmlthemes.ru/assets/images/articles/css-fon.jpg);
	// background-position: center;
	// background-size: cover;
	// background-repeat: no-repeat;
	padding: 150px 0;
	text-align: center;
	&__title {
		font-size: 44px;
		font-weight: 600;
		margin-bottom: 35px;
		letter-spacing: 1.2px;
		text-transform: uppercase;
	}
	&__link {
		background-color: $secondaryColor;
		color: #fff;
		font-size: 20px;
		letter-spacing: 1.2px;
		border-radius: 5px;
		padding: 12px 20px;
		transition: all 0.5s;
		&:hover,
		&:active {
			background-color: #79b6c9;
		}
	}
}
