@mixin flex($horizontal, $vertical: center) {
	display: flex;
	justify-content: $horizontal;
	align-items: $vertical;
}

@mixin typographyTitle($size) {
	font-size: $size;
	line-height: 20px;
	color: $main-color;
	margin-top: 20px;
}

@mixin typographyParagraf {
	font-size: 28px;
	line-height: 20px;
}