// @import 'utils/libs';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/reset';
@import './components/';
@import '../../../node_modules/swiper/swiper-bundle.css';

html {
  line-height: 1;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $titleMainFont;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}

// Modules:
// example: @import "modules/my-module.scss";


.post-wrapper {
  width: 800px;
  margin: 50px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0,0,0, 0.5);
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  position: relative;
}

.post-wrapper h3,
.post-wrapper h2 {
  font-size: 26px;
  font-weight: bold;
}

.post-wrapper button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.post-wrapper button:active {
  box-shadow: 2px 2px 4px rgba(0,0,0, 0.5);
}

.post {
  display: flex;
  width: 400px;
  margin: 50px auto;
  flex-direction: column;
  row-gap: 10px;
}

.add-post {
  padding: 10px;
  border: 1px solid black;
}
.edit-post {
  padding: 10px;
  border: 1px solid black;
}